.a_subscribe {
  margin: 0 auto;
  max-width: 1087px;
  background: #323B94;
  padding: 100px 0 0 0;
}
.a_subscribe .a_subscribe__forms {
  width: 100%;
}
.a_subscribe .a_subscribe__forms form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.a_subscribe .a_subscribe__forms form button,
.a_subscribe .a_subscribe__forms form input {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: none;
  color: white;
  font-size: 14px;
  line-height: 21px;
  font-family: 'Poppins', sans-serif;
}
.a_subscribe .a_subscribe__forms form input::-webkit-input-placeholder {
  color: white;
  font-size: 14px;
  line-height: 21px;
  font-family: 'Poppins', sans-serif;
}
.a_subscribe .a_subscribe__forms form .a_subscribe__email {
  width: 50%;
  background: #323B94;
  border-bottom: 1px solid white;
}
.a_subscribe .a_subscribe__forms form .a_subscribe__btn {
  margin: 30px 0 0 0;
  display: flex;
  align-items: start;
  background: #84E2C5;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  border-radius: 0px 32px 32px 32px;
  color: #FFFFFF;
  padding: 19.5px 30px 19.5px 30px;
}
.a_subscribe .a_subscribe__forms form .a_subscribe__btn::before {
  margin: -3px 37px 0 0;
  background-image: url(../img/email.svg);
  width: 24px;
  height: 24px;
  content: '';
  display: block;
}
