.a_soon {
  margin-top: 100px;
  background: #D6E8FF;
}
.a_soon__items {
  max-width: 1083px;
  margin: 0 auto;
}
.a_soon__items .a_soon__item {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .a_soon__items .a_soon__item {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}
.a_soon__items .a_soon__item h2 {
  position: absolute;
  right: 0;
  top: -90px;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 63px;
  color: #D22215;
}
@media (max-width: 767px) {
  .a_soon__items .a_soon__item h2 {
    font-size: 36px;
    position: static;
    right: auto;
    top: auto;
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .a_soon__items .a_soon__item h2 {
    font-size: 28px;
  }
}
.a_soon__items .a_soon__item .subitem__img {
  position: relative;
  width: 334px;
  height: 653px;
  z-index: 4;
}
@media (max-width: 480px) {
  .a_soon__items .a_soon__item .subitem__img {
    width: 280px;
    height: 653px;
  }
  .a_soon__items .a_soon__item .subitem__img img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 767px) {
  .a_soon__items .a_soon__item .subitem__img {
    margin-bottom: 30px;
  }
}
@media (max-width: 480px) {
  .a_soon__items .a_soon__item .subitem__img {
    margin-bottom: -30px;
  }
}
.a_soon__items .a_soon__item .subitem__data {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 60px 20px 60px 20px;
  margin-left: 5%;
}
@media (max-width: 767px) {
  .a_soon__items .a_soon__item .subitem__data {
    margin-left: 0;
    padding: 40px;
  }
}
@media (max-width: 480px) {
  .a_soon__items .a_soon__item .subitem__data {
    padding: 30px;
  }
}
.a_soon__items .a_soon__item .subitem__data::before {
  background: white;
  position: absolute;
  content: '';
  left: -40%;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 3;
  border-radius: 0px 60px;
}
@media (max-width: 767px) {
  .a_soon__items .a_soon__item .subitem__data::before {
    left: 0;
  }
}
@media (max-width: 480px) {
  .a_soon__items .a_soon__item .subitem__data::before {
    border-radius: 0px 30px;
  }
}
.a_soon__items .a_soon__item .subitem__data h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 30px;
  z-index: 3;
}
@media (max-width: 767px) {
  .a_soon__items .a_soon__item .subitem__data h3 {
    font-size: 28px;
  }
}
@media (max-width: 480px) {
  .a_soon__items .a_soon__item .subitem__data h3 {
    font-size: 24px;
  }
}
.a_soon__items .a_soon__item .subitem__data p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  z-index: 3;
}
.a_soon__items .a_soon__item_right {
  flex-direction: row-reverse;
}
@media (max-width: 767px) {
  .a_soon__items .a_soon__item_right {
    flex-direction: column;
    padding: 0;
  }
}
.a_soon__items .a_soon__item_right .subitem__data {
  margin-left: 0;
  margin-right: 10%;
  padding: 60px 40px 60px 40px;
}
@media (max-width: 767px) {
  .a_soon__items .a_soon__item_right .subitem__data {
    margin-right: 0;
  }
}
.a_soon__items .a_soon__item_right .subitem__data::before {
  background: white;
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  right: -40%;
  top: 0;
  z-index: 3;
  border-radius: 0px 60px;
}
@media (max-width: 767px) {
  .a_soon__items .a_soon__item_right .subitem__data::before {
    right: 0;
  }
}
@media (max-width: 480px) {
  .a_soon__items .a_soon__item_right .subitem__data::before {
    border-radius: 0px 30px;
  }
}
